@{
    Layout = null;
    var cdn = @ConfigHelper.GetCdnUrl;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>美味云商家后台登录</title>
    <link rel="icon" href="@cdn/favicon.ico" />
    <link rel="stylesheet" href="@cdn/Content/css/merchant_login.css" />
</head>
<body>
    <div class="login">
        <div class="login_box">
            <!--顶部-->
            <div class="header">
                <a href="http://www.meiweiyun.cn" class="logo"><img src="@cdn/Content/image/login/logo.png" /></a>
                <span>美味云--免费智能云餐饮管理系统</span>
            </div>
            <!--内容-->
            <div class="content">
                <div class="content_bg"></div>
                <form class="content_box" id="submitForm" method="post"> 
                    <h1>商家后台登录</h1>
                    <div class="cont_item">
                        <div class="cont_input">
                            <b class="input_icon"></b>
                            <input type="text" id="txtUserName" name="txtUserName"
                                   size="20" value="请输入用户名" onfocus="if($(this).val()=='请输入用户名'){$(this).val('')}" onblur="if($(this).val()==''){$(this).val('请输入用户名')}" />
                        </div>
                        <p class="input_alert" id="txtUserNameTip"></p>
                    </div>
                    <div class="cont_item">
                        <div class="cont_input">
                            <b class="input_icon icon_pwd"></b>
                            <input id="txtPassWord" type="password" style="margin-bottom: 7px;"
                                   name="txtPassWord" value="" size="20" maxlength="20" />
                        </div>
                        <p class="input_alert" id="txtPassWordTip"></p>
                    </div>
                    <div class="cont_item">
                        <div class="cont_yzm">
                            <input type="text" placeholder="输入验证码" id="txtVailCode" name="txtVailCode" value="请输入验证码" onfocus="if ($(this).val() == '请输入验证码') { $(this).val('') }" onblur="if ($(this).val() == '') { $(this).val('请输入验证码') }" />
                        </div>
                        <div class="yzm_img">
                            <img id="VaildateCodeImg" data-ma="NIC" src="/login/GetValidateCode" class="yzm-img" title="点击刷新验证码" onclick="this.src = '/login/GetValidateCode?time=' + new Date()" />
                        </div>
                        <p class="input_alert" id="txtVailCodeTip"></p>
                    </div>
                    <button type="button" name="btnSubmit" class="login_btn" accesskey="l" id="btnSubmit">登录</button>
                    <div class="cont_link">
                        <a href="@ConfigHelper.GetHomeUrl/Merchant/findpwd" class="left">找回密码</a>
                        <a href="@ConfigHelper.GetHomeUrl/Register/index" class="right">免费使用</a>
                    </div>
                </form>
            </div>
        </div>
        <!--底部-->
        <div class="footer">
            <span class="company">山西友人岛电子商务有限公司版权所有</span>
            <span class="icp">晋ICP备14001759号</span>
        </div>
    </div>


    <script src="@cdn/Content/js/jquery-1.11.3.js"></script>
    <script>
        $('body').css('minHeight', $(window).height());
    </script>
</body>
</html>
<script type="text/javascript">
        $(document).ready(function () {

            $("#txtUserName").blur(function () {
                var userName = $.trim($("#txtUserName").val());
                if (userName == "" || userName == "请输入用户名") {
                    //$(".dmsg").html("*请输入用户名");
                    $("#txtUserNameTip").html("请输入用户名");
                } else {
                    $("#txtUserNameTip").html("");
                }
            });
            $("#txtPassWord").blur(function () {
                var passWord = $.trim($("#txtPassWord").val());
                if (passWord == "") {
                    // $(".dmsg").html("*请输入密码");
                    $("#txtPassWordTip").html("请输入密码");
                } else {
                    $("#txtPassWordTip").html("");
                }
            });
            $("#txtVailCode").blur(function () {
                var vailcode = $.trim($("#txtVailCode").val());
                if (vailcode == "" || vailcode == "请输入验证码") {
                    $("#txtVailCodeTip").html("请输入验证码");
                } else {
                    $("#txtVailCodeTip").html("");
                }
            });

            //点击我要登录按钮，触发提交登录表单事件
            $("#btnSubmit").click(function () { submitLogin(); });
        });

        // 回车键事件
        // 绑定键盘按下事件 ，触发提交登录表单事件
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                submitLogin();
            }
        });

        //提交登录表单事件
        function submitLogin() {
            var userName = $.trim($("#txtUserName").val());
            var passWord = $.trim($("#txtPassWord").val());
            var vailcode = $.trim($("#txtVailCode").val());
            if (userName == "" || userName == "请输入用户名" || passWord == "" || vailcode == "" || vailcode == "请输入验证码") {
                return;
            } else {
                $.post("/login/UserLogin", $("#submitForm").serialize(), function (result) {
                    if (result.Code == 1) {
                        window.location.href = result.Url;
                    }
                    else {
                        $("#VaildateCodeImg").click();

                        alert(result.Message);
                    }
                }, "json");
            }
        };
        //提交状态
        function mySubmit(flag) {
            return flag;
        };

</script>