@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Domain1.sso.com
    </div>
    <div>用户名 @ViewData["b"]</div>
    <a href="http://so.ttce.cn/login/login">退出</a>
</body>
</html>
