@{
    ViewBag.Title = "发生错误," + ViewBag.SiteName;
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>错误页</title>
    <meta http-equiv="refresh" content="5;URL=@ConfigHelper.GetWwwUrl" />
</head>
<body>
    <div style="text-align: center; margin: auto 50px auto 0px; padding-top: 50px; display: block;">
        <img src="@ConfigHelper.GetCdnUrl/web/404_A.png" width="1000" height="500" />
    </div>
</body>
</html>
