
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateNewModel</title>
</head>
<body>
    <div> @Html.Raw(ViewBag.Content)
    </div>
</body>
</html>
