@{
    ViewBag.Title = "无操作权限";
}
@section css{
    <link rel="stylesheet" href="@ConfigHelper.GetCdnUrl/Content/css/iconbg.css" />
    <link rel="stylesheet" href="@ConfigHelper.GetCdnUrl/Content/css/common.css" />
}

<div class="page-content">
    <div class="container-fluid">
        <div class="error-img">
            <img class="inner404" src="@ConfigHelper.GetCdnUrl/Content/image/error/inner404.png" />
        </div>
        <h3 class="error-txt">抱歉，您访问的页面不存在</h3>
    </div>
</div>