
@using YRD.SO.Helpers;
<!--网站页底部分开始-->
<div id="footer03">
    <div class="foot03_01">
        <div class="foot03_0101">
            <a href="http://home.ttce.cn/jhtintro/webinfromation.aspx">电信与信息服务业经营许可证<span>130072号</span></a>
            <a href="javascript:;">京ICP备<span>12008477</span>号-1</a> 京公网安备<span>110102000128</span>
        </div>
        <div class="foot03_0201">版权所有：今时信合（北京）国际科技有限公司 客服热线：<span>400-817-8900</span></div>
        <div class="foot03_0303">
            <a href="http://home.ttce.cn/jhtIntro/webInfromation.aspx" target="_blank">
                <img src="@ConfigHelper.GetCdn()/Content/images/icon_1.jpg" width="84" height="32" />
            </a>
            <img src="@ConfigHelper.GetCdn()/Content/images/icon_2.jpg" width="84" height="32" />
            <img src="@ConfigHelper.GetCdn()/Content/images/icon_3.jpg" width="84" height="32" />
            <a href="https://ss.knet.cn/verifyseal.dll?sn=e14062011010250287i0ui000000&a=1&pa=0.9116088885035145" target="_blank">
                <img src="@ConfigHelper.GetCdn()/Content/images/icon_4.jpg" width="84" height="32" />
            </a>
            <a id='___szfw_logo___' href='javascript:;'>
                <img src='http://cdn3.ttce.cn/images/cx_logo.gif'>
            </a>
            <script type='text/javascript'>(function () { document.getElementById('___szfw_logo___').oncontextmenu = function () { return false; } })();</script>
        </div>
    </div>
</div>
<!--网站页底部分结束-->
<script src="http://s4.cnzz.com/stat.php?id=3566251&web_id=3566251&show=pic1" type="text/javascript" language="JavaScript"></script>