@using YRD.SO.Helpers;
<div class="title_bground">
    <div class="header03 header03_1000">
        <div class="header02_01">
            <a href="http://www.ttce.cn" title="今合网">
                <img src="@ConfigHelper.GetCdn()/Content/images/logo.png" alt="今合网" />
            </a>
        </div>
        <div class="header03_02">
            <ul>
                <li><a href="http://www.ttce.cn/Home/Index" target="_blank">首页</a></li>
                <li><a href="http://www.ttce.cn/Home/SelfPage" target="_blank">自营</a></li>
                <li><a href="http://www.ttce.cn/Home/MakeupPage" target="_blank">美妆</a></li>
                <li><a href="http://www.ttce.cn/Home/FoodPage" target="_blank">美食</a></li>
                <li><a href="http://www.ttce.cn/Home/ClothingPage" target="_blank">美衣</a></li>
            </ul>
        </div>
        <div class="addHot">
            <img src="@ConfigHelper.GetCdn()/Content/images/hot.png" width="30" height="24" />
        </div>
        <div class="header03_03">
            <ul>
                <li>
                    <a href="http://www.ttce.cn/Integral/Index" target="_blank">积分兑换</a>
                </li>
                <li>
                    <a href="http://www.ttce.cn/LiangHao/Index" target="_blank">靓号区</a>
                </li>
                <li>
                    <a href="http://home.ttce.cn/cct/cwzs.aspx" target="_blank">城村通</a>
                </li>
                <li class="imgli">
                    <img src="@ConfigHelper.GetCdn()/Content/images/key.png" />
                    <a href="http://www.ttce.cn/NetWorkRegister/Index" target="_blank">我要开店</a>
                </li>
            </ul>
        </div>
    </div>
</div>